.PageTemplate {
  height: 100vh;
  
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;

  display: flex;
}

.mainContent {
  box-sizing: border-box;
  width: 100%;

  padding: 10px;
}